.home {
  .feed {
    background-color:#fff;
    .title-row h3{
	    text-transform: uppercase;
	    font-size: 2.25rem;
	    line-height: 38px;
	    font-family: "Anivers W01 SC Regular";
	    letter-spacing: 3px;
	    &:after{
		    display: block;
		    background: url(../img/divider.jpg) no-repeat center top;
		    height: 2px;
		    width: 70px;
		    margin: 10px auto;
		    content: ".";
		    text-indent: -9999px;
		}
    }
    .column .callout{
	    box-shadow:  0 0 5px 0 rgba(0,0,0,.2);
    }
  }
}

.blog {
	
	.feed {	
	
		.callout {
		
			.description {
				
				h5 a { 
					
					font-family: $font-family2;
									
					
				}
				
				.row.date-row {
					
					font-size: 15px;
					font-family: $font-family2;
					text-transform: uppercase;
					
				}
				
			}
			
		}
				
	}
	
}
