.home {
  .hero {
	  
	  .hero-slide {
		  
		  padding: 160px 0;
		  
		@include breakpoint(small only) {
			
			padding: 40px 0;			
		
		}
		  
		  .hero-content {
			  
			  padding: 50px 40px;
			  max-width: 650px;
			  
			  @include breakpoint(small only) {
			
				padding-top: 25px;			
			
			}
			  
			  h2 { 
				  
				  letter-spacing: 4px; 
				  line-height: 48px;
				  				  
			  }
			  
		  }
		  
	  }

  }
}
