footer {
  .contact-form {
    padding: rem-calc(60 0);
  }

  .footer-tier-2 {
    padding: rem-calc(15 0 85);
    background-color: map-deep-get($footer, colors, bg);
  }

  .social {
    margin: 25px auto 35px;
  }

  #main_menu {
    li {
      height: rem-calc(50);
      font: map-deep-get($footer, fonts, menu);
      @include uppercase(map-deep-get($footer, uppercase, menu));
      > a {
        color: map-deep-get($footer, colors, menu);
        &:hover {
          color: map-deep-get($footer, colors, menu-hover);
        }
      }
    }
  }

  .credits {
    text-align: center;
    color: map-deep-get($footer, colors, credits);
    .text {
      margin-bottom: rem-calc(30);
      display: block;
    }
    a {
      font: map-deep-get($footer, fonts, credits);
      color: map-deep-get($footer, colors, credits-link);
      &:hover {
        color: map-deep-get($footer, colors, credits-link-hover);
        text-decoration: underline;
      }
    }
  }

  .social ul li {
    width: rem-calc(45);
    height: rem-calc(45);
    padding-top: rem-calc(10);
    &:before {
      font-size: rem-calc(25);
    }
  }


}

.social {
  ul {
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      background: map-deep-get($footer, colors, social-bg);
      color: map-deep-get($footer, colors, social-icon);
      border-radius: 50%;
      &:hover {
        background: map-deep-get($footer, colors, social-bg-hover);
        color: map-deep-get($footer, colors, social-icon-hover);
      }
      &:before {
        position: relative;
        text-align: center;
        vertical-align: middle;
        color: $base-color;
      }
      a {
        position: absolute;
        top: 0;
        text-indent: -9999px;
        display: block;
        width: inherit;
        height: inherit;
      }
    }
  }
}
