footer {
	.footer-logo {
		img { 
			max-height: 60px;
			width: auto;
			margin-top: 20px;
		}
	}
	
	#parallax3 { 
		
		&.parallax { 	
			background-position: center top;
			background-size: cover;
			
			h3 {
				color: $theme-white;
				text-transform: uppercase;
				font-size: rem-calc(36px);
				line-height: 38px;
				font-family: $font-family2;
				letter-spacing: 3px;
				margin-bottom: 25px;
				
				&:after {
					display: block;
					background: url(../img/divider.jpg) no-repeat center top;
					height: 2px;
					width: 70px;
					margin: 10px auto;
					content: ".";
					text-indent: -9999px;
				}
			}
			
			.button { 
				font: map-get($front-page, button-font);
				text-transform: uppercase;		
				text-decoration: none;
				margin-bottom: 0;
				color: $theme-white;
				background: $primary-color;
				margin-top: 25px;
				
				&:hover {
					color: $theme-white;
					background: $secondary-color;
				}
			}	
		}
		
		img {
			margin-bottom: 25px;
		}	
		
		
		h4 { 
			max-width: 600px;
			margin: 0 auto;
			
			a {
				color: $primary-color;
				
				&:hover {
					color: $secondary-color;
				}
			}
		}			
	}
	
	.social { 
		margin: 0px auto 20px;
	}

	.contact-info{
		font-family:'Anivers W01 Bold';
		margin-bottom:25px;
		@include breakpoint(medium down){
			text-align:center;
		}
		
		h6, h5{
			font-family:'Anivers W01 Bold';
		}
		
		h6{
			font-size: 12px;
			margin-bottom:0;
			+ p{
				margin-bottom:15px;
				color:#0191d8;
			}
		}
		a:hover{
			color:#ED008C;
		}
		
		#gform_18{
			margin:0 auto 20px;
			max-width:rem-calc(600);

			.gform_body{
				width:70%;
				display:inline-block;
				vertical-align: middle;
				
				.gform_fields{
					width:100%;
					padding-right:0;
					
					.gfield{
						margin-bottom:0;
					}
				}
			}
			#input_18_1{
				border:3px solid #000;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #000;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #000;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #000;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #000;
				}
			}
			.gform_footer{
				display:inline-block;
				vertical-align:middle;
				
				.button{
					padding: 7px 20px !important;
					margin-bottom:0;
					line-height:1.1;
					border:3px solid #000;
					background:#fff;
					color:#0191d8;
					font-size:18px;
					&:hover{
						color:#ED008C;
					}
				}
			}
		}
		#menu-social-menu{
			text-align:left;
			@include breakpoint(medium down){
				text-align:center;
			}
			
			li{
				text-align:center;
				margin-left:30px;
				@include breakpoint(medium down){
					margin-left:0;
				}
			}
		}
	}
}
