.header-message-row {

}

header { 
	
	@include breakpoint(medium down) {
				
		padding-top: 0;
		background: $theme-white;
		
	}
	
	background: url(../img/header.jpg) no-repeat center top $theme-white;
	padding-top: 18px;
	
	.menu { 
		
		margin-top: -5px;
		
		li > a {
			
			padding: 15px 15px;
			
		}
		
	}
	
	&.is-stuck {
	
		padding-top: 0;
		background: $theme-white;
	
	}		
	
	#main_menu > li ul {
		
		top: 82px;
		
		li:hover {					
				
			border-color: $secondary-color;			
			
		}
		
	}
	
}


