.banner.no-bg {
	
	background-position: center center;
	background-size: cover;
	padding: 50px 0;

	.wrap {
		
		background: transparentize($primary-color, 0.15);
		padding: 40px;
		
		.page-title {
			
			letter-spacing: 4px;
			
		}
		
		.breadcrumbs {
			
			margin-bottom: 0;
			
		}
	
	}
}

.content-container {
	
	> .row { 
		
		padding-top: 0;	
	
	}
	
	.medium-8 {
	
		ul:not(.gform_fields) {
		
			margin-bottom: 15px;
			
			li {
				
				&:before {
					vertical-align: inherit;
				}
				
			}
			
		}
		
		h2 { 
			
			margin-bottom: 20px;
			
		}
		
		ul.accordion {
			
			margin: 0;
			
		}
		
	}	
	
	.accordion li {
		
		a.accordion-title {
			
			border-bottom: none !important;
			text-align: left;
			padding-left: 35px !important;
			margin-bottom: 0;
					
		}
		
		a.accordion-title:hover, a.accordion-title:focus {			
			
			background: $theme-white;
					
		}

		
		&.is-active a.accordion-title {
	
			background: none !important;
			
		}
	
	}
	
	.call-to-action {
		
		h4 {
			
			&:after {
				
				display: block;
				background: url(../img/divider.jpg) no-repeat center top;
				height: 2px;
				width: 70px;
				margin: 10px auto;
				content: ".";
				text-indent: -9999px;
				
			}		
			
		}
		
		p {
				
			margin-bottom: 0;
			
		}
		
	}	

}

.button { 
	
	padding: 20px 25px !important;
	
}
