// General Home Page Styles
.home {

	.parallax { 	
				
		background-position: center top;
		background-size: cover;
		
		h3 {
			
			color: $theme-white;
			text-transform: uppercase;
			font-size: rem-calc(36px);
			line-height: 38px;
			font-family: $font-family2;
			letter-spacing: 3px;
			
			&:after {
				
				display: block;
				background: url(../img/divider.jpg) no-repeat center top;
				height: 2px;
				width: 70px;
				margin: 10px auto;
				content: ".";
				text-indent: -9999px;
				
			}
		}
		
		.button { 
			
			color: $theme-white;
			background: $primary-color;
			margin-top: 25px;
			
			&:hover {
				
				color: $theme-white;
				background: $secondary-color;
				
			}
			
		}	
	
	}
	
	#open_ended_parallax_1 {
		
		text-align: center;
		
		@include breakpoint(small only) {
			
			padding: 40px 20px;			
		
		}
		
		h4 {
			
			font-size: 24px; 
			color: $theme-white;
			line-height: 28px;
			max-width: 600px;
			margin: 0 auto;
		}
		
	}
	
	#open_ended_parallax_2 {
				
		h3 {
			margin-bottom: 40px;
		}
		
		h4 {
						
			font-size: 24px; 
			color: $theme-white;
			line-height: 28px;	
			
		}
		
		p {
			
			color: $theme-white;
			font-size:17px;
				
		}
		
		.large-6 {
			
			&:nth-of-type(1) {
				padding: 50px 30px 0;				
			}
			
		}
		
		
	}
	
	.programs {
		
		.title-row {
			
			text-align: center;
			margin-bottom: 40px;
			
		}
		
		i { 
			
			text-align: center; 
			color: $primary-color;
			font-size: 28px;
			margin: 0 auto 15px;
			display: block;
			
			
		}
		
		.program-wrap-4 { 
			
			i {
				
				display: none;
				
			}
			
		}
		
		background: url(../img/programs.jpg) no-repeat center center; 		
		background-size: cover;
		
		h3 {
			
			color: $third-color;
			text-transform: uppercase;
			font-size: rem-calc(36px);
			line-height: 38px;
			font-family: $font-family2;
			letter-spacing: 3px;
			
			&:after {
				
				display: block;
				background: url(../img/divider.jpg) no-repeat center top;
				height: 2px;
				width: 70px;
				margin: 10px auto;
				content: ".";
				text-indent: -9999px;
				
			}
		}
		
		.program { 
			
			background-color: rgba(255, 255, 255, 0.6);		
			margin-bottom: 15px;
			.medium-4 {
				max-height: 225px;
			}
			.row { padding: 30px;
				.row {
					padding: 0;
					height: 100%;
				}
			}						

			.img_link {
				
				background: $theme-white;
				display: block;
				height: 100%;	
				text-align: center;		
				position: relative;		
				
				img {
					display: block;
					max-height: 65px; 
					width: auto;
					margin: 40px auto;
				}
				
				.button {
					display: block;
					background: $primary-color;
					&:hover { 
						background: $secondary-color;
					}	
													
				}				
				
			}
			
			.info { 
				
				padding: 20px 0 20px 40px;		
				
				@include breakpoint(small only) {
			
					padding: 20px 0 0 0;	
					text-align: center;		
				
				}
				
				h4 { 
				
					color: $primary-color;
					font-family: $font-family2-b;
					font-size: 24px;
					line-height: 28px;
					text-transform: uppercase;
				
				}
				
				p { 
					
					font-size: 17px;
					line-height: 22px;
				}
						
			}
			
		}		
		
	}
  
}

// Module-Specific Styles
@import "front-page/blog";
@import "front-page/hero";
@import "front-page/service-icons";
@import "front-page/testimonials";
