.page-id-17153{
	.content-container{
		display:none;
	}
	.parallax, .ways-to-help, .event-slider, .newsletter{
		padding: 50px 0;
	}
	.parallax{
		background-position:top center;
		background-size:cover;
		color:#fff;
		.button{
			display:inline-block;
			width:auto;
		}
		.row{
			max-width:600px;
		}
	}
	h3{
	    text-transform: uppercase;
	    font-size: 2.25rem;
	    line-height: 38px;
	    font-family: $font-family2;
	    letter-spacing: 3px;
	    &:after{
		    display: block;
		    background: url(../img/divider.jpg) no-repeat center top;
		    height: 2px;
		    width: 70px;
		    margin: 10px auto;
		    content: ".";
		    text-indent: -9999px;
	    }
	}
	h4{
		font-size: 24px;
	    color: #ffffff;
	    line-height: 28px;
	}
	.button{
		background:$primary-color;
		font: normal normal normal 1.125rem $font-family2-b;
	    text-transform: uppercase;
	    box-sizing:border-box;
		&:hover{
			background:$secondary-color;
		}
	}
	.open_ended_content{
		padding:30px 0;
		text-align:center;
		img{
			max-height: 100px;
			width:auto;
		}
		p:first-of-type{
			color:$primary-color;
			font-size:rem-calc(18);
		}
	}
	.philantro-form{
		max-width:400px;
		margin:auto;
		font-family:$font-family2-b;
		input[type="radio"]{
			display:none;
			&:checked + label{
				color:$primary-color;
				background:#fff;
			}
		}
		label{
			color:#fff;
			border:2px solid #fff;
		}
		p{
			font-family:$font-family;
		}
	}
	#customAmount{
		border:2px solid #fff;
		background:transparent;
		color: #fff;
		box-shadow: none;
		font-size: rem-calc(80px);
		height:auto;
		text-align:center;
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
	}
	.form-item:first-of-type{
		position:relative;
		&::after{
			content:"USD";
			color:#fff;
			font-size:rem-calc(12px);
			position:absolute;
			bottom:10px;
			right:10px;
		}
	}
	.form-item:nth-of-type(2){
		margin-left:-2px;
		margin-right:-2px;
		label{
			width:calc(33.333% - 4px);
			margin-left:2px;
			margin-right:2px;
			text-align:center;
			font-size: rem-calc(28px);
		}
	}
	.form-item:last-of-type{
		margin-top:15px;
		margin-bottom:15px;
		margin-left:-2px;
		margin-right:-2px;
		label{
			width:calc(50% - 4px);
			margin-left:2px;
			margin-right:2px;
			text-align:center;
			text-transform:uppercase;
			padding:5px;
			font-family:rem-calc(14);
		}
	}
	
}

.way-to-help{
	margin-top:15px;
	margin-bottom:15px;
	max-width:300px;
	&__title{
		color:$primary-color;
		font-size:rem-calc(18);
	}
	&__content{
		border:1px solid #d7d7d7;
		text-align:center;
		padding:15px 20px 20px;
	}
	.button{
		width:100%;
		max-width:175px;
	}
	@include breakpoint(480px down){
		width:100% !important;
		float:none !important;
		margin-left:auto;
		margin-right:auto;
	}
}

.event-slider{
	background:#2d306d;
	h3{
		color:#fff;
		margin-bottom:30px;
	}
	&__img-wrapper{
		overflow: hidden;
		position:relative;
		img{
			max-width: none;
			min-height:100%;
			min-width:100%;
		    width: auto;
		    height: auto;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		}
	}
	&__content{
		background:#fff;
		padding:30px !important;
	}
	&__title{
		font-size:rem-calc(18);
		color:$primary-color;
	}
	&__details{
		color:$primary-color;
		font-family:$font-family2-b;
		letter-spacing:3px;
		font-size:rem-calc(18);
	}
	.event-slideshow{
		margin-bottom:30px;
	}
	.orbit-controls{
		button{
			color:rgba(#fff, .45);
			padding:rem-calc(10);
			&:hover{
				color:#fff;
				background: none;
			}
		}
		i{
			font-size:rem-calc(70);
			@include breakpoint(small down){
				font-size:rem-calc(40);
			}
		}
	}
	.orbit-slide{
		.row{
			max-width: 85%;
		    margin-left: auto;
		    margin-right: auto;
		}
	}
}

.newsletter{
	background:#f4f4f4;
	h3{
		color:$third-color;
		&:after{
			margin-left:0;
		}
	}
	.columns{
		display:inline-block;
		float:none !important;
		margin-left:-1px;
		margin-right:-1px;
		vertical-align:middle;
	}
	input[type="text"], input[type="search"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="file"], textarea, select{
		border:1px solid #000;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: #000;
		  opacity:1;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: #000;
		  opacity:1;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: #000;
		  opacity:1;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: #000;
		  opacity:1;
		}
	}
	.gform_footer::after{
		content:'*All Fields Required';
		font-size:rem-calc(10);
		font-style:italic;		
		vertical-align:top;
		margin-left:15px;
	}
	input[type="submit"]{
		max-width:175px;
		width:100%;
	}
}