.content-container .medium-8 ul.dpArticleShare li {
	
	text-indent: 0;
	
	
	&:before {
		
		content: "";
		padding: 0;
		margin: 0;
		
	}
	
}

.single-post, .blog {
	
	#sidebar { 
		.widget { 
			margin-bottom: 25px;
			
			.button {
				
				padding: 12px !important;
				
			}
		}
	}
}

@include breakpoint(medium down){
	.blog #sidebar{
		display:none;
	}
}