@import 'util/util';

$theme-black: #000000;
$theme-white: #ffffff;
$theme-grey-light: #bdc3c7;
$theme-grey-dark: #7f8c8d;

$base-color: $theme-white;
$primary-color: #0191D8;
$secondary-color: #ED008C;
$third-color: #2E3192;
// Font weights
$light: normal;
$regular: normal;
$bold: normal;
$heavy: normal;

// Font-Awesome Font Path
$fa-font-path: "../bower_components/font-awesome/fonts";

// Base Font
$font-family: 'Kepler W01 Regular';  // Used for most text on the site
$font-family-i: 'Kepler W01 It';
$font-family-b: 'Kepler W01 Bd';
$font-family-bi: 'Kepler W01 Bd It';
$font-family2: 'Anivers W01 SC Regular';
$font-family2-b: 'Anivers W01 Bold';

// Form Styles
$form-text-height: rem-calc(40);
$form-spacing: rem-calc(20);

// Header Variables
$header: (
  background: $theme-white,
  height: rem-calc(140),
  minimized-height: rem-calc(75),
  padding: rem-calc(15),
  icons: (
    size: rem-calc(35),
    distance-top: rem-calc(40),
    distance-side: rem-calc(30)
  ),
  social:(
	social-bg: $secondary-color,
	social-bg-hover: $theme-white,
	social-icon: $primary-color,
	social-icon-hover: $primary-color
  ),
  message: (
    height: rem-calc(35),
    font: normal normal $bold rem-calc(26) $font-family,
    color: $theme-black,
    color-hover: $theme-grey-dark
  ),
  menu: (
    height: rem-calc(50),
    offset: rem-calc(-5),
    colors: (
      text: $primary-color,
      text-hover: $secondary-color,
      submenu-text: $primary-color,
      submenu-text-hover: $theme-white,
      submenu-bg: $theme-white,
      submenu-bg-hover: $secondary-color,
      border-top: $primary-color,
      border-between: $primary-color
    ),
    fonts: (
      text: normal normal $bold rem-calc(16) $font-family2-b,
      submenu-text: normal normal $bold rem-calc(16) $font-family2-b
    ),
    uppercase: (
      text: true,
      submenu-text: true
    )
  )
);

// Front Page Variables
$front-page: (
  section-padding: rem-calc(80),
  button-font: normal normal $bold rem-calc(18) $font-family2-b,
  hero: (
    colors: (
      bg: transparentize($primary-color, 0.15),
      subhead: $theme-white,
      heading: $theme-white,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $third-color,
      button-bg-hover: $secondary-color
    ),
    fonts: (
      subhead: normal normal $bold rem-calc(48) $font-family2,
      heading: normal normal $bold rem-calc(48) $font-family2,
      subhead-size-small: rem-calc(15),
      heading-size-small: rem-calc(40)
    ),
    uppercase: (
      subhead: false,
      heading: true
    )
  ),
  services: (
    background: none,
    colors: (
      header: $theme-black,
      service-header: $theme-black,
      service-header-hover: $theme-grey-light,
      service-content: $theme-black,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $theme-black,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      header: normal normal $light rem-calc(50) $font-family,
      service-header: normal normal $bold rem-calc(22) $font-family,
      service-content: normal normal $regular rem-calc(17) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family
    ),
    uppercase: (
      header: false,
      service-header: true,
      button-text: true
    )
  ),
  blog: (
    background: url(images/bg_blog.png) repeat,
    colors: (
      heading: $theme-white,
      subhead: $theme-white,
      article-title: $primary-color,
      article-title-hover: $secondary-color,
      date: $secondary-color,
      excerpt: $theme-black,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $third-color,
      button-bg-hover: $secondary-color
    ),
    fonts: (
      heading: normal normal $bold rem-calc(40) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family,
      article-title: normal normal $bold rem-calc(18) $font-family,
      date: normal normal $regular rem-calc(12) $font-family,
      excerpt: normal normal $regular rem-calc(16) $font-family
    ),
    uppercase: (
      heading: true,
      subhead: false,
      article-title: false,
      date: false
    )
  ),
  coupons: (
    background: $secondary-color,
    colors: (
      heading: $primary-color,
      subhead: $theme-white,
      coupon-head: $secondary-color,
      coupon-subhead: $theme-white,
      coupon-border: $theme-white,
      coupon-bg: $theme-black,
      info: $theme-white            
    ),
    fonts: (
      heading: normal normal $bold rem-calc(36) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family, 
      coupon-head: normal normal $bold rem-calc(26) $font-family,
      coupon-subhead: normal normal $bold rem-calc(14) $font-family,
      info: normal normal $bold rem-calc(15) $font-family      
    ),
    uppercase: (
      heading: true,
      subhead: false,       
      coupon-head: true,
      coupon-subhead: true
    )
  ),
  testimonials: (
    background: none,
    colors: (
      heading: $theme-black,
      subhead: $theme-black,
      testimonial-text: $theme-black,
      testimonial-name: $theme-grey-dark,
      testimonial-location: $theme-grey-dark,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $theme-black,
      button-bg-hover: $theme-grey-dark,
      orbit-bg: $secondary-color,      
      orbit-active: $theme-white
    ),
    fonts: (
      heading: normal normal $bold rem-calc(40) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family,
      testimonial-text: normal normal $regular rem-calc(20) $font-family,
      testimonial-name: normal normal $bold rem-calc(20) $font-family,
      estimonial-location: normal normal $bold rem-calc(20) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family
    ),
    uppercase: (
      heading: true,
      subhead: false,
      testimonial-name: true,
      testimonial-location: true,
      button-text: true
    )
  )
);
// Interior Page Variables
$interior: (
  colors: (
    page-title: $theme-white,
    breadcrumbs: $theme-white,
    breadcrumbs-last: $theme-white,
    toggle-bg: $theme-white,
    toggle-bg-open: $theme-white,
    toggle-header: $primary-color,
    toggle-header-open: $secondary-color,
    toggle-content: $theme-black,
    toggle-border: $theme-black,
    h1: $third-color,
    h2: $primary-color,
    h3: $primary-color,
    h4: $third-color,
    h5: $primary-color,
    h6: $secondary-color,
    p: $theme-black,
    list-bullet: $primary-color,
    link: $primary-color,
    link-hover: $secondary-color,
    blockquote-bg: $third-color,
    blockquote-text: $theme-white,
    blockquote-border: $primary-color,
    menu-header: $third-color,
    menu-links: $primary-color,
    menu-links-hover: $secondary-color,
    menu-border: $third-color,
    cta-heading: $theme-white,
    cta-bg: $third-color,
    cta-text: $theme-white,
    cta-button-text: $theme-white,
    cta-button-text-hover: $theme-white,
    cta-button-bg: $primary-color,
    cta-button-bg-hover: $secondary-color
  ),
  fonts: (
    page-title: normal normal $bold rem-calc(36) $font-family2,
    page-title-small-size: rem-calc(30),
    breadcrumbs: normal normal $regular rem-calc(15) $font-family2-b,
    toggle-header: normal normal $bold rem-calc(16) $font-family2-b,
    toggle-content: normal normal $regular rem-calc(15) $font-family,
    h1: normal normal $bold rem-calc(36) $font-family2,
    h1-small-size: rem-calc(30),
    h2: normal normal $bold rem-calc(24) $font-family2-b,
    h3: normal normal $bold rem-calc(24) $font-family,
    h4: normal normal $bold rem-calc(18) $font-family,
    h5: normal normal $bold rem-calc(16) $font-family2-b,
    h6: normal normal $bold rem-calc(16) $font-family2-b,
    p: normal normal $regular rem-calc(17) $font-family,
    blockquote: normal normal $regular rem-calc(24) $font-family-i,
    menu-header: normal normal $bold rem-calc(24) $font-family2-b,
    menu-links: normal normal $bold rem-calc(16) $font-family2-b,
    cta-heading: normal normal $bold rem-calc(24) $font-family2,
    cta-text: normal normal $regular rem-calc(16) $font-family,
    cta-button-text: normal normal $bold rem-calc(18) $font-family2-b
  ),
  uppercase: (
    page-title: true,
    breadcrumbs: false,
    h1: true,
    h2: true,
    h3: false,
    h4: false,
    h5: true,
    h6: true,
    post-info: true,
    menu-header: true,
    menu-links: true,
    cta-heading: true,
    cta-button-text: true
  ),

  coupons: (
    colors: (
      background: #f6fbf5,
      border: $theme-grey-dark,
      divider: $theme-black
    )
  ),

  page: (
    header-bg: url(../img/banner.jpg) no-repeat,
    header-title-bg: transparentize($primary-color, 0.15)
  ),


  single: (
    colors: (
      post-info: $secondary-color
    ),
    fonts: (
      post-info: normal normal $bold rem-calc(16) $font-family2-b
    )
  )
);
// Form Variables
$forms: (
  footer: (
    colors: (
      heading: $theme-white,
      subhead: $theme-white,
      contact-head: $theme-white,
      contact-text: $theme-white,
      textboxes: $theme-white,
      button-text: $theme-black,
      button-text-hover: $theme-white,
      button-bg: $theme-white,
      button-bg-hover: $theme-grey-dark,
      link-text: $theme-grey-light,
      link-text-hover: $theme-grey-light
    ),
    fonts: (
      heading: normal normal $bold rem-calc(40) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family,
      contact-head: normal normal $bold rem-calc(16) $font-family,
      contact-text: normal normal $regular rem-calc(15) $font-family,
      textboxes: normal normal $regular rem-calc(15) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family,
    ),
    uppercase: (
      heading: true,
      subhead:false,
      contact-head: true,
      contact-text: false,
      textboxes: false,
      button-text: true
    )
  )
);

// Footer Variables
$footer: (
  menu-height: rem-calc(50),
  colors: (
    bg: $theme-white,
    menu: $primary-color,
    menu-hover: $secondary-color,
    credits: $theme-black,
    credits-link: $primary-color,
    credits-link-hover: $secondary-color,
    social-bg: $primary-color,
    social-bg-hover: $secondary-color,
    social-icon: $theme-white,
    social-icon-hover: $theme-white
  ),
  fonts: (
    menu: normal normal $bold rem-calc(16) $font-family2-b,
    credits: normal normal $regular rem-calc(15) $font-family
  ),
  uppercase: (
    menu: true
  )
);
