.home, .blog, .archive {
  .feed {
    background-attachment: fixed;
    background: map-deep-get($front-page, blog, background);

    img {
      width: 100%;
    }

    .button {
      margin: rem-calc(50 0 0 0);
      color: map-deep-get($front-page, blog, colors, button-text);
      background-color: map-deep-get($front-page, blog, colors, button-bg);
      &:hover {
        color: map-deep-get($front-page, blog, colors, button-text-hover);
        background-color: map-deep-get($front-page, blog, colors, button-bg-hover);
      }
    }
    .title-row {
      text-align: center;
      margin-bottom: rem-calc(50);
      h2 {
        font: map-deep-get($front-page, blog, fonts, heading);
        color: map-deep-get($front-page, blog, colors, heading);
        @include uppercase(map-deep-get($front-page, blog, uppercase, heading));
        margin: 0;
      }
      h3 {
        font: map-deep-get($front-page, blog, fonts, subhead);
        color: map-deep-get($front-page, blog, colors, subhead);
        @include uppercase(map-deep-get($front-page, blog, uppercase, subhead));
        margin: 0;
      }
    }
    .callout {
      padding: 0;
      margin: 0;
      .description {
        @extend .text-center;
        padding: rem-calc(25);
        color: map-deep-get($front-page, blog, colors, excerpt);
        font: map-deep-get($front-page, blog, fonts, excerpt);
        h5 {
          margin: 0;
          a {
            color: map-deep-get($front-page, blog, colors, article-title);
            font: map-deep-get($front-page, blog, fonts, article-title);
            @include uppercase(map-deep-get($front-page, blog, uppercase, article-title));
            &:hover {
              color: map-deep-get($front-page, blog, colors, article-title-hover);
            }
          }
        }
        .row.date-row {
          margin-bottom: rem-calc(8);
          color: map-deep-get($front-page, blog, colors, date);
          font: map-deep-get($front-page, blog, fonts, date);
          @include uppercase(map-deep-get($front-page, blog, uppercase, date));
        }
      }
    }
  }
}

.blog, .archive {
  .feed {
    background: none;
  }
}
