
.coupon {


  background-color: map-deep-get($interior, coupons, colors, background);
  border: rem-calc(4) dashed map-deep-get($interior, coupons, colors, border);
  margin-bottom: rem-calc(50);
  position: relative;
  &:last-child {
    margin-bottom: 0;
  }

  .fa-print {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  padding: rem-calc(30);
  .divider {
    width: 100%;
    margin: rem-calc(20) auto;
    border-bottom: rem-calc(1) solid map-deep-get($interior, coupons, colors, divider)
  }
}
