.banner {
  background-position: center center;
  background-size: cover;
  padding: rem-calc(30 0);
  .wrap {
    @extend .medium-6;
    @extend .columns;
    @extend .medium-centered;
    background-color: map-deep-get($interior, page, header-title-bg);
    padding: rem-calc(40);
    text-align: center;
  }
  &.no-bg {
    background: map-deep-get($interior, page, header-bg);
    .wrap {
      background: none;
      .page-title {
        color: map-deep-get($interior, colors, page-title);
      }
    }
  }
}
